@import url('https://fonts.googleapis.com/css2?family=PT+Sans:wght@400;700&display=swap');

*,
*::before,
*::after {
  padding: 0;
  margin: 0;
  border: 0;
  box-sizing: border-box;
}

a {
  text-decoration: none;
}

ul,
ol,
li {
  list-style: none;
}

img {
  vertical-align: top;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-size: inherit;
  font-weight: inherit;
}

html,
body {
  font-family: Rubik;
  font-size: 12px;
  color: #616161;
  height: 100%;
  color: #fff;
  font-family: 'PT Sans';
  background-color: #0b1d26;
}

.wrapper {
  min-height: 100%;

}

.container {
  max-width: 1000px;
  margin: auto;
  padding: 50px 20px;
}

.parallax {
  min-height: 100vh;
}

.parallax__body {
  position: fixed;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
}

.parallax__container {
  text-transform: uppercase;
  position: relative;
  z-index: 2;
}

.parallax__label {
  color: #fbd784;
  display: flex;
  font-size: 18px;
  letter-spacing: 6px;
  margin: 0 0 30px 0;
  align-items: center;
}

.parallax__label::before {
  content: "";
  flex: 0 0 70px;
  margin: 0 30px 0 0;
  background: #fbd784;
  height: 1px;
}

.parallax__title {
  font-size: 88px;
}

.parallax__images {
  position: absolute;
  width: 120%;
  height: 120%;
  top: -10%;
  left: -10%;
  z-index: 1;
}

.parallax__item {
  position: absolute;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
}

.images-parallax__clouds,
.images-parallax__mountains,
.images-parallax__human {
  position: absolute;
  width: 100%;
  height: 100%;
  left: 0;
}

.images-parallax__clouds {
  background: url('../img/img/clouds.jpg') center / cover no-repeat;
  top: 0;
}

.images-parallax__mountains {
  background: url('../img/img/mountains.png') center / cover no-repeat;
  top: 15%;
  z-index: 2;
}

.images-parallax__human {
  background: url('../img/img/human.png') center / cover no-repeat;
  top: 45%;
  z-index: 3;
}

@media screen and (max-aspect-ratio: 3/2){
  .images-parallax__human {
    background-position: 20% top;
  }
}

.content{
  background-color:  #0b1d26;
  position: relative;
  z-index: 2;
}
.content::before{
  pointer-events: none;
  content: '';
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100px;
  background: linear-gradient(180deg, rgba(11, 29, 38, .1), rgba(11, 29, 38, .1));
  transform: translate(0, -100%);
}

.content__container{

}

.content__title{
  font-size: 35px;
  margin: 0 0 30px 0;
}

.content__text{
  font-size: 16px;
  line-height: 150%;
}
.content__text p{
  margin: 0 0 30px 0;
}